
body {
    font-family: $main-font;
    background: $mine-shaft;

    > header {
        background: red;
    }

    main {
        color: white;
        padding-top: $gutter;
        padding-bottom: $gutter * 4;
    }

    aside {
        background: red;
    }

    > footer {
        background: black;
        color: white;
    }
}

p {
    line-height: 1.4;
}

a,
a:visited {
    color: $magneto;
    text-decoration: none;
}

a:hover,
a:active {
    color: lighten($magneto, 20);
}




// footer
.footer-menu {
    background: lighten(black, 6);
    padding-top: ($gutter * 4) - 5px;
    padding-bottom: $gutter * 4;

    h2 {
        letter-spacing: .5px;
        text-transform: uppercase;
        margin-bottom: $gutter;
        margin-top: $gutter;
    }

    li {
        margin-bottom: 5px;
    }

    .menu li:last-of-type {
        margin-bottom: 0;
    }
}

.footer-bottom {
    font-size: 14px;
    color: darken(white, 50);
    letter-spacing: .5px;
    padding-top: $gutter * 4;
    padding-bottom: $gutter * 4;
}




// blogs
.bloglist {
    header {
        h1 {
            //background: black;
            padding-top: $gutter * 2;
            padding-bottom: $gutter * 2;
            font-size: 28px;
        }

        .articleinfo {
            color: darken(white, 20);
            font-size: 13px;
            border-bottom: 2px solid $magneto;
            padding-bottom: $gutter;
            text-transform: uppercase;
            letter-spacing: .5px;

            a {
                font-weight: bold;
            }

            ul {
                @include clearfix();
            }

            li {
                display: inline-block;
                margin-right: $gutter;

                @media screen and (max-width: $screen-s) {
                    display: block;
                    margin-right: 0;
                }
            }
        }
    }

    .articlecontent {
        padding-top: $gutter * 4;
        padding-bottom: $gutter * 4;

        @media screen and (max-width: $screen-s) {
            text-align: justify;
        }

        .readmore {
            @include btn($magneto);
            margin-top: $gutter * 4;

            @media screen and (max-width: $screen-s) {
                display: block;
                text-align: center;
            }
        }

        .readmoreblog {
            @include btn($magneto);
            margin-top: $gutter * 4;

            @media screen and (max-width: $screen-s) {
                display: block;
                margin-top: $gutter;
                text-align: center;
            }
        }
    }
}
